*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! GLOBAL !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #000;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #000;
    text-align: center;
}

h4 {
    font-size: 20px;
    color: #000;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #000;
    margin: 15px 0 20px 0;
}

body {
    width: 100%;
    background-color: #fff;

    .marquee {
        background-color: #222;
        color: #fff;
        text-decoration: underline;
        height: 36px;
        font-size: 14px; 
        font-weight: 100;
        padding: 6px;
        text-align: center;
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! NAVBAR !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#navigation-and-logo {
    
    #nav-bar {
        height: 50px;
        display: flex;
        padding: 30px 60px 20px;
        justify-content: space-between;
        align-items: center;

        .logo {
            color: #000;
            text-decoration: none;
            font-size: 25px;
            word-spacing: 0.3px;
            font-weight: 600;
        }

        .logo:hover{
            color: #000;
            cursor: pointer;
        }

        div {
            .nav-list {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .nav-item {
                    list-style: none;

                    .nav-link {
                        color: #000;
                        font-size: 14px;
                        font-weight: 200;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! BANNER NO.1 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.banner {
    width: 80%;
    height: 350px;
    background-color: #e6e6e6;
    margin: 100px 10% 80px;
    
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HOME DASHBOARD !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#feature {
    padding: 10px 60px;

    .featured-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
           width: 100px;
           height: 30px;
           font-size: 15px; 
           font-weight: 500;
           border-radius: 5PX;
           background-color: #fff;
           cursor: pointer;
        }
    }

    .featured-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;

        .featured-item {
            width: 325px;

            img {
                width: 100%;
                object-fit: contain;
            }

            img:hover {
                object-fit: cover;
                
            }

            .des {
                margin: 10px 0px;
                height: 40px;
                margin-bottom: 10px;

                h5 {
                    font-size: 16px;
                    font-weight: 700;
                    margin: 5px 0px 5px;
                }

                p {
                    font-size: 15px;
                    color: #222;
                    word-wrap: normal;
                    padding: 0px;
                    margin: 0px;
                }
            }

            p {
                font-size: 15px;
                color: #222;
                word-wrap: normal;
                padding: 0px;
                margin: 0px;
            }
        }
    }
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! CHECKOUT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#checkout {
    background-color: #fff;
    height: auto;
    padding: 10px 60px 0px;
    margin-top: 50px;

    .page-header {
        margin: 40px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            font-size: 30px;
            font-weight: 600;
        }

        p {
            a {
                color: #000;
            }
        }
    }

    .main-content {
        display: flex;
        gap: 50px;

        .checkout-items {
            width: 75%;
    
            #checklistDisplay {
                .disclaimer {
                    text-align: end;
                }

                .item {
                    width: 100%;
                    padding: 24px 12px;
                    display: flex;
                    justify-content: space-between;

                    img {
                        width: 120px;
                        height: 120px;
                        object-fit: contain;
                    }

                    .item-info {
                        h4 {
                            margin: 0px;
                            font-size: 16px;
                            font-weight: 600;
                        }

                        p {
                            margin: 0px;
                            font-weight: 100;
                            font-size: 14px;
                        }
                    }

                    .price {
                        width: 150px;
                    }

                    .quantity {
                        width: 250px;
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        
                        p {
                            margin: 0px;
                        }

                        button {
                          height: 20px;
                          width: 20px;
                          background-color: transparent;
                          border: none;
                          color: #000;
                        }

                    }


                }
    
            }

        }

        .checkout-total {
            width: 20%;
        }
    }
}

#checkout > #sort {
    gap: 20px;
}

#checkout > #sort > button {
   background-color: #cdebbc; 
   width: 170px;
   height: 45px;
   border-radius: 10px;
}

#checkout > #sort > button:hover {
    background-color:#999ba1;
}

#checkout > #sort > select {
    background-color: #cdebbc; 
    width: 180px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid black;
}

#checkout > #sort > select:hover {
    background-color:#999ba1;
}


#checkout > table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; 
}

#checkout > table > thead {
    font-weight: 700;
}

td {
    border: 2px solid #999ba1;
    text-align: center;
    padding: 10px;
}

td > input {
    width: 50px;
    padding-left: 10px;
}

td > button {
    width: 90px;
    height: 40px;
    text-align: center;
    padding-left: 10px;
    background-color: #cdebbc;
    border-radius: 10px;
}

td > button > p {
    padding-bottom: 20px;
    padding-right: 5px;
}



#priceTotal > #amount {
    border: 2px solid #999ba1;
    margin-left: 10px;
    width: 70px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    padding: 20px 60px;
 }



/* Media Query */

@media screen {
    
}

